In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

In [2]:
train_set = pd.DataFrame.from_csv('../data/subset_train_OHE.csv')
test_set = pd.DataFrame.from_csv('../data/subset_test_OHE.csv')

## Benchmark model

Simply return the last bid-ask price. Basically a straight line after the last quote/trade

In [3]:
prediction = pd.DataFrame.from_csv('../predictions/template_prediction.csv')

In [9]:
for ix, row in prediction.iterrows():
    row_id = row['row_id']
    
    test_row = test_set[test_set['row_id'] == row_id]
    #Get the ask50 and bid50 in the test set
    ask = test_row['ask50'].values[0]
    bid = test_row['bid50'].values[0]
    
    for column in prediction.columns.values:
        if column != 'row_id':
            if column.startswith('ask'):
                prediction.set_value(ix, column, ask)
            else:
                prediction.set_value(ix, column, bid)

In [10]:
prediction.head()

,row_id,bid52,ask52,bid53,ask53,bid54,ask54,bid55,ask55,bid56,...,bid96,ask96,bid97,ask97,bid98,ask98,bid99,ask99,bid100,ask100
254689,254690,435.0,435.2,435.0,435.2,435.0,435.2,435.0,435.2,435.0,...,435.0,435.2,435.0,435.2,435.0,435.2,435.0,435.2,435.0,435.2
500810,500811,431.9,432.1,431.9,432.1,431.9,432.1,431.9,432.1,431.9,...,431.9,432.1,431.9,432.1,431.9,432.1,431.9,432.1,431.9,432.1
196078,196079,3151.5,3153.5,3151.5,3153.5,3151.5,3153.5,3151.5,3153.5,3151.5,...,3151.5,3153.5,3151.5,3153.5,3151.5,3153.5,3151.5,3153.5,3151.5,3153.5
226436,226437,935.2,935.5,935.2,935.5,935.2,935.5,935.2,935.5,935.2,...,935.2,935.5,935.2,935.5,935.2,935.5,935.2,935.5,935.2,935.5
339574,339575,947.1,948.0,947.1,948.0,947.1,948.0,947.1,948.0,947.1,...,947.1,948.0,947.1,948.0,947.1,948.0,947.1,948.0,947.1,948.0